/* Estrutura principal da página (header, main, footer, grid) */

body {
    background-color: var(--bg-primary);
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.header {
    grid-area: header;
    background: var(--bg-secondary);
    border-bottom: var(--border-color) solid 0.01rem;
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* Logo no header */
.logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--rust);
    font-family: cursive, sans-serif;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    gap: 2rem;
}

/* Título do dashboard */
.dashboard-titulo {
    color: var(--peach);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 75rem;
    text-align: left;
}

/* Seções de adição de cards e transações */
.transacoes {
    display: grid;
    align-items: start;
    grid-template-columns: minmax(16rem, 22rem) 1fr;
    gap: 2rem;
    width: 100%;
    max-width: 75rem;
}

.footer {
    grid-area: footer;
    background-color: var(--bg-dark);
    color: var(--rust);
    padding: 1rem;
    text-align: center;
}

/* Responsividade */
@media (max-width: 48rem) {
    .transacoes {
        grid-template-columns: 1fr;
    }
}
